/* General Section */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
    --MainBackground: hsl(233, 47%, 7%);
    --CardBackground: hsl(244, 38%, 16%);
    --Accent: hsl(277, 64%, 61%);
    --MainHeadingAndStats: hsl(0, 0%, 100%);
    --MainParagraph: hsla(0, 0%, 100%, 0.75);
    --StatHeadings: hsla(0, 0%, 100%, 0.6);
}

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    font-family: 'Lexend-Deca', sans-serif;
    background-color: var(--MainBackground);
 }

 img {
    display: block;
    max-width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: var(--CardBackground);
    border-radius: 0 0 0.469rem 0.469rem;
}

/* Hero Text Section */

#pictureContainer {
    display: inherit;
    position: relative;
    width: 100%;
    border-radius: 0.625rem 0.625rem 0 0;
    background-color: hsl(277, 64%, 61%);
}

#cardImage {  width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    mix-blend-mode: multiply;
    opacity: 0.75;
} 

#cardText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#heroText {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.563rem;
    color: var(--MainHeadingAndStats);
    padding: 1.5rem 1.5rem 1rem;
}

#heroText span {
    color: var(--Accent);
}

#heroSubText {
    font-size: 0.938rem;
    line-height: 1.70;
    color: var(--MainParagraph);
    padding: 0 1.5rem 0.75rem;
    
}

/* Stats Section */

#stats {
    font-family: 'Inter', sans-serif;
    color: var(--StatHeadings);
    text-align: center;
    padding-bottom: 0.625rem;
}

#stats p {
    font-size: 0.531rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    padding: 0.5rem;
}

#stats span {
    display: block;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0;
    color: var(--MainHeadingAndStats);
    padding: 0.313rem;
}

/* Media Queries */

/* iPad Air up to Desktop */

@media screen and (min-width: 768px) and (max-width: 900px) {
    .cardContainer {
        width: 650px;
    }

    #cardImage {
        width: 650px;
        height: auto;
    }
    #hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 85%;
    }

    #heroText {
        font-size: 40px;
        width: 500px;
        padding: 2rem 4rem;
    }

    #heroSubText {
        font-size: 20px;
        padding: 0 7rem 0.5rem;
    }
    
    #stats {
        padding-bottom: 0.5rem;
    }
}

/* Desktop */

@media screen and (min-width: 1200px) {
    .cardContainer {
        display: flex;
        flex-direction: row-reverse;
        width: 67.5%; 
        border-radius: 0.625rem;
    }

    #pictureContainer {
        width: 48%;
        border-radius: 0 0.625rem 0.625rem 0;
    }

    #hero {
        width: 75%;
        text-align: left;        
        margin-right: 4rem;
        padding-bottom: 2.5rem;
    }

    #cardText {
        width: 55%;
    }

    #heroText {
        font-size: 35px;
    }

    #heroSubText {
        width: 90%;
        font-size: 15px;
    }

    #stats {
        width: 70%;
        display: flex;
        flex-direction: row;
        text-align: left;
        margin-right: 4rem;
    }

    #stats p {
        font-size: 12px;
        margin-right: 2.5rem;   
    }
}